# GitHub Token
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Telegram Token
TELEGRAM_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz

# Telegram Chat ID
TELEGRAM_CHAT_ID=123456789

# Email SMTP
EMAIL_SMTP=smtp.gmail.com:587
EMAIL_FROM=your-email@gmail.com
EMAIL_TO=your-email@gmail.com
